<div class="devise-container ui main grid container">
  <div class="six wide column centered">
    <h2 class="ui black image header">
      <div class="content">
        Sign up
      </div>
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui large form' }) do |f| %>
      <div class="ui stacked segment">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "ui fluid large black submit button" %>
        </div>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
