<div class="devise-container ui main grid container">
  <div class="six wide column centered">
    <h2 class="ui black image header">
      <div class="content">
        Log In
      </div>
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form" }) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="ui checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
        <% end %>

        <%= f.submit "Log in", class: "ui fluid large black submit button" %>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
